export PORT=":8080"
export DB_ADDR=postgresql://admin:password@localhost:5432/social?sslmode=disable
export FROM_MAIL=bradfordjohn998@gmail.com
export MAILTRAP_API_KEY=df942754740bee05ac77da515709c21c
export REDIS_ENABLED=true 
#export APP_ENV=production
